In [1]:
import pandas as pd

filename ='Users\Owner\PycharmProjects\CSC3130\WebProject_KyleMcLean\Briefs\2017-02-18CraigslistBriefs.json'
#filename = 'C:\Users\username\pathToFile\fileName.json'
#filename = 'fileName.json'
data = pd.read_json('2017-02-18CraigslistBriefs.json')

In [2]:
data

,location,phone,price,size
0,(Nashville),NaN,$1525,NaN
1,(Hendersonville),NaN,$859,NaN
2,"(1650 Cason, Murfreesboro, TN 37128)",NaN,$1160,NaN
3,"(3525 West End Ave, Nashville)",NaN,$1650,NaN
4,"(nashville, tn)",NaN,$831,NaN
5,(Franklin),NaN,$1306,NaN
6,(Nashville),NaN,$1249,NaN
7,(Goodlettsville),NaN,$1200,NaN
8,"(5901 Old Hickory Boulevard, Hermitage, TN 37...",NaN,$1010,NaN
9,(Downtown),NaN,$1633,NaN
10,"(Nashville, TN)",NaN,$1205,NaN
11,"(1500 Brentridge, Antioch, TN 37013)",NaN,$1175,NaN
12,(Downtown Nashville),NaN,$1249,NaN
13,"(Franklin, TN)",NaN,$1815,NaN
14,(Nashville),NaN,$430,NaN
15,"(1043 Daniel Ln, Spring Hill, TN 37174)",NaN,$1995,NaN
16,(Nashville TN),NaN,$1068,NaN
17,(Murfreesboro),NaN,$965,NaN
18,(Murfreesboro),NaN,$965,NaN
19,(Downtown Nashville),NaN,$1249,NaN
20,(Franklin),NaN,$1125,NaN
21,(Murfreesboro),NaN,$965,NaN
22,(Franklin),NaN,$1306,NaN
23,(nashville\tTN),NaN,$715,NaN
24,(West End/ Vanderbilt/ Medical Center),NaN,$1153,NaN
25,(Vandy/Green Hills area),NaN,$1550,NaN
26,"(1000 Amberwood Circle, Nashville, TN 37221)",NaN,$1437,NaN
27,(Nashville),NaN,$1249,NaN
28,(Nashville),NaN,$1249,NaN
29,(Riverside Drive),NaN,$999,NaN
...,...,...,...,...
676,(4960 EDMONDSON PIKE),NaN,$979,NaN
677,(Smyrna),NaN,$1225,NaN
678,(4960 Edmondson Pike),NaN,$979,NaN
679,(Antioch),NaN,$790,NaN
680,"(1430 Bell Road, Nashville, TN 37211)",NaN,$1097,NaN
681,(The Gulch),NaN,$2499,NaN
682,(Brentwood),NaN,$1314,NaN
683,(laVergne),NaN,$1200,NaN
684,(Nashville),NaN,$1060,NaN
685,(Nashville),NaN,$1060,NaN
686,(Antioch),NaN,$790,NaN
687,(Downtown Nashville),(844) 538-9754,$1500,1 Bed
688,"(SoBro, The Gulch)",(844) 310-5291,$2100,3 Beds
689,(Historic Edgefield),(844) 891-6174,$2250,2 Beds
690,(Bellmont-Hillsboro),(844) 614-0437,$1500,1 Bed
691,(Cumberland Gardens),(844) 887-7125,$850,2 Beds
692,(Bellmont-Hillsboro),(844) 310-5055,$1800,2 Beds
693,(East End),(877) 432-6013,$1500,2 Beds
694,(West End Park),(844) 310-5300,$1350,1 Bed
695,(West End Park),(844) 629-2927,$2900,3 Beds
696,"(8th Ave South, Breeze Hill)",(844) 330-0704,$2800,3 Beds
697,(Green Hills),(844) 397-0032,$2295,3 Beds
698,(Green Hills),(888) 923-3149,$1100,1 Bed
699,(Green Hills),(844) 508-2643,$4650,4 Beds
700,(Green Hills),(877) 503-2074,$3199,5 Beds
701,(Miro Meadows),(844) 876-5926,$1200,2 Beds
702,(Charlotte Park),(844) 892-0517,$1100,2 Beds
703,(Hargis Heights),(844) 289-7726,$1500,3 Beds
704,(Bellshire Terrace),(844) 434-3089,$1475,3 Beds
705,(Marrowbone),(844) 778-3198,$1695,3 Beds

In [3]:
data.sort(location)

NameError: name 'location' is not defined

In [4]:
data.sort_values('location')

,location,phone,price,size
106,"(, , 37075)",NaN,$860,Not listed
584,(100 Mountainhigh Dr.),NaN,$950,NaN
644,(100 Mountainhigh Dr.),NaN,$950,NaN
104,"(1000 Amberwood Circle, Nashville, TN 37221)",NaN,$934,Not listed
633,"(1000 Amberwood Circle, Nashville, TN 37221)",NaN,$1529,NaN
26,"(1000 Amberwood Circle, Nashville, TN 37221)",NaN,$1437,NaN
566,(1005 HICKORY HILL LANE),NaN,$820,NaN
602,(1005 HICKORY HILL LANE),NaN,$820,NaN
614,(1005 HICKORY HILL LANE),NaN,$820,NaN
615,(1005 HICKORY HILL LANE),NaN,$820,NaN
70,(1005 HICKORY HILL LANE),NaN,$775,NaN
567,(1005 HICKORY HILL LANE),NaN,$820,NaN
72,(1005 HICKORY HILL LANE),NaN,$775,NaN
71,(1005 HICKORY HILL LANE),NaN,$845,NaN
569,(1005 HICKORY HILL LANE),NaN,$875,NaN
675,(1005 HICKORY HILL LANE),NaN,$820,NaN
15,"(1043 Daniel Ln, Spring Hill, TN 37174)",NaN,$1995,NaN
480,"(1043 Daniel Ln, Spring Hill, TN 37174)",NaN,$1995,NaN
162,"(1043 Daniel Ln, Spring Hill, TN 37174)",NaN,$1995,Not listed
428,"(1043 Daniel Ln, Spring Hill, TN 37174)",NaN,$1995,NaN
466,"(1070 W Main, Hendersonville, TN 37075)",NaN,$1130,NaN
64,"(1070 W Main, Hendersonville, TN 37075)",NaN,$970,NaN
667,"(1070 W Main, Hendersonville, TN 37075)",NaN,$1135,NaN
435,"(1070 W Main, Hendersonville, TN 37075)",NaN,$850,NaN
94,(108 Thompson Ln Nashville TN),NaN,$900,Not listed
43,(1101 18th Ave S),NaN,$1400,NaN
114,"(12 South Nashville, TN)",NaN,$3095,Not listed
576,(12 South),NaN,$1709,NaN
426,(12 South),NaN,$886,NaN
456,"(1301 Avery Park Ln, Mount Juliet, TN 37122)",NaN,$2449,NaN
...,...,...,...,...
168,"202 2nd Ave S, Nashville, TN 37201",844-400-5453,"$1,577 - 4,676",Studio - 3 Bedroom
193,"202 2nd Ave S, Nashville, TN 37201",844-400-5453,"$1,577 - 4,676",Studio - 3 Bedroom
205,"210 11th Ave N, Nashville, TN 37203",615-866-0484,"$1,440 - 2,775",1-3 Bedroom
180,"210 11th Ave N, Nashville, TN 37203",615-866-0484,"$1,440 - 2,775",1-3 Bedroom
177,"2101 Portland Ave, Nashville, TN 37212",844-859-8039,"$1,183 - 2,552",Studio - 3 Bedroom
202,"2101 Portland Ave, Nashville, TN 37212",844-859-8039,"$1,183 - 2,552",Studio - 3 Bedroom
191,"2350 Franklin Pike, Nashville, TN 37204",844-321-0940,"$1,164 - 2,525",Studio - 2 Bedroom
166,"2350 Franklin Pike, Nashville, TN 37204",844-321-0940,"$1,164 - 2,525",Studio - 2 Bedroom
206,"2600 Franklin Pike, Nashville, TN 37204",855-447-1775,"$1,380 - 2,980",1-2 Bedroom
181,"2600 Franklin Pike, Nashville, TN 37204",855-447-1775,"$1,380 - 2,980",1-2 Bedroom
172,"2700 Charlotte Ave, Nashville, TN 37209",615-410-2585,"$1,475 - 2,750",Studio - 2 Bedroom
197,"2700 Charlotte Ave, Nashville, TN 37209",615-410-2585,"$1,475 - 2,750",Studio - 2 Bedroom
204,"301 29th Ave N, Nashville, TN 37203",866-250-9948,"$1,300 - 2,450",Studio - 2 Bedroom
179,"301 29th Ave N, Nashville, TN 37203",866-250-9948,"$1,300 - 2,450",Studio - 2 Bedroom
203,"320 11th Ave, Nashville, TN 37203",877-837-1631,"$1,113 - 2,832",Studio - 2 Bedroom
178,"320 11th Ave, Nashville, TN 37203",877-837-1631,"$1,113 - 2,832",Studio - 2 Bedroom
171,"45 Vantage Way, Nashville, TN 37228",844-257-0490,"$1,195 - 2,755",1-2 Bedroom
196,"45 Vantage Way, Nashville, TN 37228",844-257-0490,"$1,195 - 2,755",1-2 Bedroom
169,"570 Church St E, Brentwood, TN 37027",844-318-6586,"$1,269 - 1,759",1-3 Bedroom
194,"570 Church St E, Brentwood, TN 37027",844-318-6586,"$1,269 - 1,759",1-3 Bedroom
210,"610 Sylvan Heights Way, Nashville, TN 37209",844-855-3605,"$1,150 - 3,200",Studio - 3 Bedroom
185,"610 Sylvan Heights Way, Nashville, TN 37209",844-855-3605,"$1,150 - 3,200",Studio - 3 Bedroom
183,"645 Old Hickory Blvd, Nashville, TN 37209",615-349-8120,"$1,215 - 1,975",Studio - 3 Bedroom
208,"645 Old Hickory Blvd, Nashville, TN 37209",615-349-8120,"$1,215 - 1,975",Studio - 3 Bedroom
200,"6800 Highway 70 S, Nashville, TN 37221",615-800-4994,"$1,159 - 7,494",1-3 Bedroom
175,"6800 Highway 70 S, Nashville, TN 37221",615-800-4994,"$1,159 - 7,494",1-3 Bedroom
201,"865 Bellevue Rd, Nashville, TN 37221",615-800-4982,"$983 - 4,515",1-3 Bedroom
176,"865 Bellevue Rd, Nashville, TN 37221",615-800-4982,"$983 - 4,515",1-3 Bedroom
215,"909 Rosa L Parks Blvd, Nashville, TN 37208",844-382-0502,"$1,370 - 2,800",Studio - 2 Bedroom
190,"909 Rosa L Parks Blvd, Nashville, TN 37208",844-382-0502,"$1,370 - 2,800",Studio - 2 Bedroom

In [5]:
data.groupby('a').count()

KeyError: 'a'

In [6]:
data.groupby('location').count()

                                                  phone  price  size
location
 (, ,  37075)                                         0      1     1
 (100 Mountainhigh Dr.)                               0      2     0
 (1000 Amberwood Circle, Nashville, TN 37221)         0      3     1
 (1005 HICKORY HILL LANE)                             0     10     0
 (1043 Daniel Ln, Spring Hill, TN 37174)              0      4     1
 (1070 W Main, Hendersonville, TN 37075)              0      4     0
 (108 Thompson Ln Nashville TN)                       0      1     1
 (1101 18th Ave S)                                    0      1     0
 (12 South Nashville, TN)                             0      1     1
 (12 South)                                           0      2     0
 (1301 Avery Park Ln, Mount Juliet, TN 37122)         0      1     0
 (1336 Love Joy Ct)                                   0      1     0
 (1430 Bell Road, Nashville, TN 37211)                0      3     0
 (1500 Brentridge, Antioch, TN 37013)                 0      3     2
 (159 Mansker Park Dr, Hendersonville, TN 37075)      0      1     1
 (1650 Cason, Murfreesboro, TN 37128)                 0      2     1
 (207 National Drive, Murfreesboro, TN 37128)         0      1     0
 (2100 Waterford Circle)                              0      1     1
 (2101 Portland Ave)                                  0      1     0
 (222 Polk Avenue)                                    0      1     0
 (234 Connie Drive)                                   0      1     1
 (2406 Belmont Blvd, Nashville, TN)                   0      1     0
 (2505 Preston way)                                   0      1     1
 (30th Ave N)                                         0      1     0
 (3101 Brookview Forest Dr, Nashville, TN 37211)      0      1     0
 (3242 Panorama Dr)                                   0      1     0
 (3525 West End Ave, Nashville)                       0      2     1
 (3617 Baxter Ave)                                    0      1     0
 (3652 Blaze Dr, Murfreesboro, TN 37128)              0      1     0
 (37027)                                              0      1     0
...                                                 ...    ...   ...
(SoBro)                                               6      6     6
(SoBro, The Gulch)                                    4      4     4
(Talbot's Corner)                                    11     11    11
(West End Park)                                      29     29    29
(Whispering Hills)                                    3      3     3
100 Arbor Lake Blvd, Hermitage, TN 37076              2      2     2
100 Ridgelake Pky, Nashville, TN 37209                2      2     2
1100 Players Ct, Nashville, TN 37211                  2      2     2
111 17th Ave S, Nashville, TN 37203                   2      2     2
111 Acklen Park Dr, Nashville, TN 37203               2      2     2
1221 Division St, Nashville, TN 37203                 2      2     2
1515 Demonbreun St, Nashville, TN 37203               2      2     2
1515 N 5th Ave, Nashville, TN 37208                   2      2     2
1600 McGavock St, Nashville, TN 37203                 2      2     2
2000 Grand Ave, Nashville, TN 37212                   2      2     2
202 2nd Ave S, Nashville, TN 37201                    2      2     2
210 11th Ave N, Nashville, TN 37203                   2      2     2
2101 Portland Ave, Nashville, TN 37212                2      2     2
2350 Franklin Pike, Nashville, TN 37204               2      2     2
2600 Franklin Pike, Nashville, TN 37204               2      2     2
2700 Charlotte Ave, Nashville, TN 37209               2      2     2
301 29th Ave N, Nashville, TN 37203                   2      2     2
320 11th Ave, Nashville, TN 37203                     2      2     2
45 Vantage Way, Nashville, TN 37228                   2      2     2
570 Church St E, Brentwood, TN 37027                  2      2     2
610 Sylvan Heights Way, Nashville, TN 37209           2      2     2
645 Old Hickory Blvd, Nashville, TN 37209             2      2     2
6800 Highway 70 S, Nashville, TN 37221                2      2     2
865 Bellevue Rd, Nashville, TN 37221                  2      2     2
909 Rosa L Parks Blvd, Nashville, TN 37208            2      2     2

[173 rows x 3 columns]

In [7]:
data.location.value_counts()

 (Nashville)                              48
 (Murfreesboro)                           45
 (Madison)                                33
(West End Park)                           29
(Green Hills)                             21
(Bellmont-Hillsboro)                      17
(Historic Edgefield)                      15
(Downtown Nashville)                      15
(East End)                                15
(Cumberland Gardens)                      15
 (Nashville, TN)                          14
 (Franklin)                               14
(Glencliff Estates)                       13
(River Glen)                              11
(Talbot's Corner)                         11
(Hillwood)                                11
(Bellshire Terrace)                       10
 (1005 HICKORY HILL LANE)                 10
(McMurray)                                 9
 (West Nashville)                          8
 (Hendersonville)                          8
 (madison)                                 8
 (Downtown Nashville)                      8
 (Elliston, West End, Vanderbilt)          7
(Hargis Heights)                           7
(Marrowbone)                               7
 (604 GALLATIN AVE STE 215)                7
(Charlotte Park)                           6
 (Nashville TN)                            6
(SoBro)                                    6
                                          ..
 (ashland city)                            1
 (3617 Baxter Ave)                         1
 (Nashville region)                        1
 (Murfreesobro)                            1
 (Sylvan Park/Vandy)                       1
 (3242 Panorama Dr)                        1
 (1101 18th Ave S)                         1
 (Croley Court)                            1
 (Hermitage)                               1
 (Nashville - Centennial Park)             1
 (Lavergne)                                1
 (South Nashville)                         1
 (New Deal)                                1
 (Murfreesboro, TN)                        1
 (2406 Belmont Blvd, Nashville, TN)        1
 (Tullahoma)                               1
 (BAXTER TN.)                              1
 (laVergne)                                1
 (37209)                                   1
 (Inglewood/East Nashville)                1
 (GRAND OAK AT TOWNPARK)                   1
 (Belle Meade/Charlotte Pike Area)         1
 (Nashville/ BEST AMENITIES DOWNTOWN!)     1
 (108 Thompson Ln Nashville TN)            1
 (, ,  37075)                              1
 (222 Polk Avenue)                         1
 (2101 Portland Ave)                       1
 (Springfield)                             1
 (1336 Love Joy Ct)                        1
 (Nashville  Lease 2 Buy)                  1
Name: location, dtype: int64

In [8]:
data['(Nashville)'].mean

KeyError: '(Nashville)'

In [9]:
data.groupby('location').count('price')

TypeError: count() takes 1 positional argument but 2 were given

In [10]:
data.groupby('location').price.count()

location
 (, ,  37075)                                        1
 (100 Mountainhigh Dr.)                              2
 (1000 Amberwood Circle, Nashville, TN 37221)        3
 (1005 HICKORY HILL LANE)                           10
 (1043 Daniel Ln, Spring Hill, TN 37174)             4
 (1070 W Main, Hendersonville, TN 37075)             4
 (108 Thompson Ln Nashville TN)                      1
 (1101 18th Ave S)                                   1
 (12 South Nashville, TN)                            1
 (12 South)                                          2
 (1301 Avery Park Ln, Mount Juliet, TN 37122)        1
 (1336 Love Joy Ct)                                  1
 (1430 Bell Road, Nashville, TN 37211)               3
 (1500 Brentridge, Antioch, TN 37013)                3
 (159 Mansker Park Dr, Hendersonville, TN 37075)     1
 (1650 Cason, Murfreesboro, TN 37128)                2
 (207 National Drive, Murfreesboro, TN 37128)        1
 (2100 Waterford Circle)                             1
 (2101 Portland Ave)                                 1
 (222 Polk Avenue)                                   1
 (234 Connie Drive)                                  1
 (2406 Belmont Blvd, Nashville, TN)                  1
 (2505 Preston way)                                  1
 (30th Ave N)                                        1
 (3101 Brookview Forest Dr, Nashville, TN 37211)     1
 (3242 Panorama Dr)                                  1
 (3525 West End Ave, Nashville)                      2
 (3617 Baxter Ave)                                   1
 (3652 Blaze Dr, Murfreesboro, TN 37128)             1
 (37027)                                             1
                                                    ..
(SoBro)                                              6
(SoBro, The Gulch)                                   4
(Talbot's Corner)                                   11
(West End Park)                                     29
(Whispering Hills)                                   3
100 Arbor Lake Blvd, Hermitage, TN 37076             2
100 Ridgelake Pky, Nashville, TN 37209               2
1100 Players Ct, Nashville, TN 37211                 2
111 17th Ave S, Nashville, TN 37203                  2
111 Acklen Park Dr, Nashville, TN 37203              2
1221 Division St, Nashville, TN 37203                2
1515 Demonbreun St, Nashville, TN 37203              2
1515 N 5th Ave, Nashville, TN 37208                  2
1600 McGavock St, Nashville, TN 37203                2
2000 Grand Ave, Nashville, TN 37212                  2
202 2nd Ave S, Nashville, TN 37201                   2
210 11th Ave N, Nashville, TN 37203                  2
2101 Portland Ave, Nashville, TN 37212               2
2350 Franklin Pike, Nashville, TN 37204              2
2600 Franklin Pike, Nashville, TN 37204              2
2700 Charlotte Ave, Nashville, TN 37209              2
301 29th Ave N, Nashville, TN 37203                  2
320 11th Ave, Nashville, TN 37203                    2
45 Vantage Way, Nashville, TN 37228                  2
570 Church St E, Brentwood, TN 37027                 2
610 Sylvan Heights Way, Nashville, TN 37209          2
645 Old Hickory Blvd, Nashville, TN 37209            2
6800 Highway 70 S, Nashville, TN 37221               2
865 Bellevue Rd, Nashville, TN 37221                 2
909 Rosa L Parks Blvd, Nashville, TN 37208           2
Name: price, dtype: int64

In [11]:
data.groupby('location').price.mean

In [12]:
data.groupby('location').price.mean()

DataError: No numeric types to aggregate

In [13]:
data.mean

<bound method DataFrame.mean of                                               location           phone  price  \
0                                          (Nashville)             NaN  $1525
1                                     (Hendersonville)             NaN   $859
2                 (1650 Cason, Murfreesboro, TN 37128)             NaN  $1160
3                       (3525 West End Ave, Nashville)             NaN  $1650
4                                      (nashville, tn)             NaN   $831
5                                           (Franklin)             NaN  $1306
6                                          (Nashville)             NaN  $1249
7                                     (Goodlettsville)             NaN  $1200
8     (5901 Old Hickory Boulevard, Hermitage, TN 37...             NaN  $1010
9                                           (Downtown)             NaN  $1633
10                                     (Nashville, TN)             NaN  $1205
11                (1500 Brentridge, Antioch, TN 37013)             NaN  $1175
12                                (Downtown Nashville)             NaN  $1249
13                                      (Franklin, TN)             NaN  $1815
14                                         (Nashville)             NaN   $430
15             (1043 Daniel Ln, Spring Hill, TN 37174)             NaN  $1995
16                                      (Nashville TN)             NaN  $1068
17                                      (Murfreesboro)             NaN   $965
18                                      (Murfreesboro)             NaN   $965
19                                (Downtown Nashville)             NaN  $1249
20                                          (Franklin)             NaN  $1125
21                                      (Murfreesboro)             NaN   $965
22                                          (Franklin)             NaN  $1306
23                                     (nashville\tTN)             NaN   $715
24              (West End/ Vanderbilt/ Medical Center)             NaN  $1153
25                            (Vandy/Green Hills area)             NaN  $1550
26        (1000 Amberwood Circle, Nashville, TN 37221)             NaN  $1437
27                                         (Nashville)             NaN  $1249
28                                         (Nashville)             NaN  $1249
29                                   (Riverside Drive)             NaN   $999
..                                                 ...             ...    ...
676                              (4960 EDMONDSON PIKE)             NaN   $979
677                                           (Smyrna)             NaN  $1225
678                              (4960 Edmondson Pike)             NaN   $979
679                                          (Antioch)             NaN   $790
680              (1430 Bell Road, Nashville, TN 37211)             NaN  $1097
681                                        (The Gulch)             NaN  $2499
682                                        (Brentwood)             NaN  $1314
683                                         (laVergne)             NaN  $1200
684                                        (Nashville)             NaN  $1060
685                                        (Nashville)             NaN  $1060
686                                          (Antioch)             NaN   $790
687                               (Downtown Nashville)  (844) 538-9754  $1500
688                                 (SoBro, The Gulch)  (844) 310-5291  $2100
689                               (Historic Edgefield)  (844) 891-6174  $2250
690                               (Bellmont-Hillsboro)  (844) 614-0437  $1500
691                               (Cumberland Gardens)  (844) 887-7125   $850
692                               (Bellmont-Hillsboro)  (844) 310-5055  $1800
693                                         (East End)  (877) 432-6013  $1500
694                                    (West End Park)  (844) 310-5300  $1350
695                                    (West End Park)  (844) 629-2927  $2900
696                       (8th Ave South, Breeze Hill)  (844) 330-0704  $2800
697                                      (Green Hills)  (844) 397-0032  $2295
698                                      (Green Hills)  (888) 923-3149  $1100
699                                      (Green Hills)  (844) 508-2643  $4650
700                                      (Green Hills)  (877) 503-2074  $3199
701                                     (Miro Meadows)  (844) 876-5926  $1200
702                                   (Charlotte Park)  (844) 892-0517  $1100
703                                   (Hargis Heights)  (844) 289-7726  $1500
704                                (Bellshire Terrace)  (844) 434-3089  $1475
705                                       (Marrowbone)  (844) 778-3198  $1695

       size
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
..      ...
676     NaN
677     NaN
678     NaN
679     NaN
680     NaN
681     NaN
682     NaN
683     NaN
684     NaN
685     NaN
686     NaN
687   1 Bed
688  3 Beds
689  2 Beds
690   1 Bed
691  2 Beds
692  2 Beds
693  2 Beds
694   1 Bed
695  3 Beds
696  3 Beds
697  3 Beds
698   1 Bed
699  4 Beds
700  5 Beds
701  2 Beds
702  2 Beds
703  3 Beds
704  3 Beds
705  3 Beds

[706 rows x 4 columns]>

In [14]:
data.mean('location')

ValueError: No axis named location for object type <class 'pandas.core.frame.DataFrame'>

In [15]:
data.groupby('location')['price'].mean()

DataError: No numeric types to aggregate

In [16]:
data.groupby('location')['price'].mean

In [17]:
data.groupby('location')['price'].mean('price')

TypeError: mean() takes 1 positional argument but 2 were given

In [18]:
data.groupby('location')['price'].mean

In [19]:
data.category.value_counts()

AttributeError: 'DataFrame' object has no attribute 'category'

In [20]:
df.location.value_counts()

NameError: name 'df' is not defined

In [21]:
data["(Nashville)"].mean

KeyError: '(Nashville)'

In [22]:
data.groupby(location)['price'].mean

NameError: name 'location' is not defined

In [23]:
data.groupby('location')['price'].mean

In [24]:
data.groupby(location)['price'].count

NameError: name 'location' is not defined

In [25]:
data.groupby('location')['price'].count

In [26]:
data.to_excel(housedata)

NameError: name 'housedata' is not defined

In [27]:
data.to_excel('housedata")

SyntaxError: EOL while scanning string literal (<ipython-input-27-7ba2a960dae0>, line 1)