In [1]:
import pandas as pd

filename ='Users\Owner\PycharmProjects\CSC3130\WebProject_KyleMcLean\Briefs\2017-02-18CraigslistBriefs.json'
#filename = 'C:\Users\username\pathToFile\fileName.json'
#filename = 'fileName.json'
data = pd.read_json('2017-02-18CraigslistBriefs.json')

In [2]:
data

,location,phone,price,size
0,(Nashville),NaN,$1525,NaN
1,(Hendersonville),NaN,$859,NaN
2,"(1650 Cason, Murfreesboro, TN 37128)",NaN,$1160,NaN
3,"(3525 West End Ave, Nashville)",NaN,$1650,NaN
4,"(nashville, tn)",NaN,$831,NaN
5,(Franklin),NaN,$1306,NaN
6,(Nashville),NaN,$1249,NaN
7,(Goodlettsville),NaN,$1200,NaN
8,"(5901 Old Hickory Boulevard, Hermitage, TN 37...",NaN,$1010,NaN
9,(Downtown),NaN,$1633,NaN
10,"(Nashville, TN)",NaN,$1205,NaN
11,"(1500 Brentridge, Antioch, TN 37013)",NaN,$1175,NaN
12,(Downtown),NaN,$1249,NaN
13,"(Franklin, TN)",NaN,$1815,NaN
14,(Nashville),NaN,$430,NaN
15,"(1043 Daniel Ln, Spring Hill, TN 37174)",NaN,$1995,NaN
16,(Nashville TN),NaN,$1068,NaN
17,(Murfreesboro),NaN,$965,NaN
18,(Murfreesboro),NaN,$965,NaN
19,(Downtown),NaN,$1249,NaN
20,(Franklin),NaN,$1125,NaN
21,(Murfreesboro),NaN,$965,NaN
22,(Franklin),NaN,$1306,NaN
23,(nashville\tTN),NaN,$715,NaN
24,(West End),NaN,$1153,NaN
25,(Green Hills),NaN,$1550,NaN
26,"(1000 Amberwood Circle, Nashville, TN 37221)",NaN,$1437,NaN
27,(Nashville),NaN,$1249,NaN
28,(Nashville),NaN,$1249,NaN
29,(Riverside Drive),NaN,$999,NaN
...,...,...,...,...
676,(4960 EDMONDSON PIKE),NaN,$979,NaN
677,(Smyrna),NaN,$1225,NaN
678,(4960 Edmondson Pike),NaN,$979,NaN
679,(Antioch),NaN,$790,NaN
680,"(1430 Bell Road, Nashville, TN 37211)",NaN,$1097,NaN
681,(The Gulch),NaN,$2499,NaN
682,(Brentwood),NaN,$1314,NaN
683,(laVergne),NaN,$1200,NaN
684,(Nashville),NaN,$1060,NaN
685,(Nashville),NaN,$1060,NaN
686,(Antioch),NaN,$790,NaN
687,(Downtown Nashville),(844) 538-9754,$1500,1 Bed
688,"(SoBro, The Gulch)",(844) 310-5291,$2100,3 Beds
689,(Historic Edgefield),(844) 891-6174,$2250,2 Beds
690,(Bellmont-Hillsboro),(844) 614-0437,$1500,1 Bed
691,(Cumberland Gardens),(844) 887-7125,$850,2 Beds
692,(Bellmont-Hillsboro),(844) 310-5055,$1800,2 Beds
693,(East End),(877) 432-6013,$1500,2 Beds
694,(West End Park),(844) 310-5300,$1350,1 Bed
695,(West End Park),(844) 629-2927,$2900,3 Beds
696,"(8th Ave South, Breeze Hill)",(844) 330-0704,$2800,3 Beds
697,(Green Hills),(844) 397-0032,$2295,3 Beds
698,(Green Hills),(888) 923-3149,$1100,1 Bed
699,(Green Hills),(844) 508-2643,$4650,4 Beds
700,(Green Hills),(877) 503-2074,$3199,5 Beds
701,(Miro Meadows),(844) 876-5926,$1200,2 Beds
702,(Charlotte Park),(844) 892-0517,$1100,2 Beds
703,(Hargis Heights),(844) 289-7726,$1500,3 Beds
704,(Bellshire Terrace),(844) 434-3089,$1475,3 Beds
705,(Marrowbone),(844) 778-3198,$1695,3 Beds

In [3]:
# I am going to remove the NaNs from size and phone and replace Not listed with 0

In [4]:
data['size']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
        ...
676       NaN
677       NaN
678       NaN
679       NaN
680       NaN
681       NaN
682       NaN
683       NaN
684       NaN
685       NaN
686       NaN
687     1 Bed
688    3 Beds
689    2 Beds
690     1 Bed
691    2 Beds
692    2 Beds
693    2 Beds
694     1 Bed
695    3 Beds
696    3 Beds
697    3 Beds
698     1 Bed
699    4 Beds
700    5 Beds
701    2 Beds
702    2 Beds
703    3 Beds
704    3 Beds
705    3 Beds
Name: size, dtype: object

In [5]:
data['size'].replace('Not listed',0).dropna()

74      1 Bed
75     2 Beds
76     2 Beds
77     2 Beds
78      1 Bed
79      1 Bed
80     3 Beds
81     3 Beds
82     3 Beds
83     3 Beds
84     3 Beds
85     3 Beds
86     2 Beds
87          0
88          0
89          0
90        3br
91          0
92          0
93          0
94          0
95          0
96          0
97          0
98        1br
99          0
100         0
101         0
102       3br
103         0
        ...
514     1 Bed
515    3 Beds
516    3 Beds
517     1 Bed
518    4 Beds
519    3 Beds
520    5 Beds
521    2 Beds
522    2 Beds
523    3 Beds
524    3 Beds
687     1 Bed
688    3 Beds
689    2 Beds
690     1 Bed
691    2 Beds
692    2 Beds
693    2 Beds
694     1 Bed
695    3 Beds
696    3 Beds
697    3 Beds
698     1 Bed
699    4 Beds
700    5 Beds
701    2 Beds
702    2 Beds
703    3 Beds
704    3 Beds
705    3 Beds
Name: size, dtype: object

In [6]:
data['phone']

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
            ...
676               NaN
677               NaN
678               NaN
679               NaN
680               NaN
681               NaN
682               NaN
683               NaN
684               NaN
685               NaN
686               NaN
687    (844) 538-9754
688    (844) 310-5291
689    (844) 891-6174
690    (844) 614-0437
691    (844) 887-7125
692    (844) 310-5055
693    (877) 432-6013
694    (844) 310-5300
695    (844) 629-2927
696    (844) 330-0704
697    (844) 397-0032
698    (888) 923-3149
699    (844) 508-2643
700    (877) 503-2074
701    (844) 876-5926
702    (844) 892-0517
703    (844) 289-7726
704    (844) 434-3089
705    (844) 778-3198
Name: phone, dtype: object

In [7]:
data['phone'].replace('Not listed',0).dropna()

74     (844) 538-9754
75     (844) 793-7781
76     (844) 887-7125
77     (877) 432-6013
78     (844) 711-6208
79     (888) 923-3149
80     (888) 630-1984
81     (844) 320-2437
82     (844) 610-7947
83     (844) 865-5196
84     (844) 865-5197
85     (844) 585-1387
86     (844) 792-5991
166      844-321-0940
167      844-541-4865
168      844-400-5453
169      844-318-6586
170      844-637-9019
171      844-257-0490
172      615-410-2585
173      629-888-0315
174      844-850-0188
175      615-800-4994
176      615-800-4982
177      844-859-8039
178      877-837-1631
179      866-250-9948
180      615-866-0484
181      855-447-1775
182      720-961-7339
            ...
514    (844) 711-6208
515    (844) 629-2927
516    (844) 330-0704
517    (888) 923-3149
518    (844) 508-2643
519    (888) 630-1984
520    (877) 503-2074
521    (844) 876-5926
522    (844) 892-0517
523    (844) 227-8119
524    (844) 762-1357
687    (844) 538-9754
688    (844) 310-5291
689    (844) 891-6174
690    (844) 614-0437
691    (844) 887-7125
692    (844) 310-5055
693    (877) 432-6013
694    (844) 310-5300
695    (844) 629-2927
696    (844) 330-0704
697    (844) 397-0032
698    (888) 923-3149
699    (844) 508-2643
700    (877) 503-2074
701    (844) 876-5926
702    (844) 892-0517
703    (844) 289-7726
704    (844) 434-3089
705    (844) 778-3198
Name: phone, dtype: object