In [1]:
import pandas as pd

filename = 'Users\Owner\PycharmProjects\CSC3130\WebProject_KyleMcLean\Briefs\2017-02-18.RentBriefs.json'
#filename = 'C:\Users\username\pathToFile\fileName.json'
#filename = 'fileName.json'
data = pd.read_json('2017-02-18.RentBriefs.json')

ValueError: Expected object or value

In [2]:
import pandas as pd

filename = 'Users\Owner\PycharmProjects\CSC3130\WebProject_KyleMcLean\Briefs\2017-02-18.RentBriefs.json'
#filename = 'C:\Users\username\pathToFile\fileName.json'
#filename = 'fileName.json'
data = pd.read_json('2017-02-18.RentBriefs.json')

In [3]:
import pandas as pd

filename = 'Users\Owner\PycharmProjects\CSC3130\WebProject_KyleMcLean\Briefs\2017-02-18.RentBriefs.json'
#filename = 'C:\Users\username\pathToFile\fileName.json'
#filename = 'fileName.json'
data = pd.read_json(2017-02-18.RentBriefs.json)

SyntaxError: invalid token (<ipython-input-3-13a7867d7687>, line 6)

In [4]:
import pandas as pd

filename = 'Users\Owner\PycharmProjects\CSC3130\WebProject_KyleMcLean\Briefs\2017-02-18.RentBriefs.json'
#filename = 'C:\Users\username\pathToFile\fileName.json'
#filename = 'fileName.json'
data = pd.read_json('2017-02-18.RentBriefs.json')

In [5]:
data.price

0     $1399
1     $2000
2      $850
3     $1500
4     $1195
5     $1100
6     $1650
7     $2395
8     $1645
9     $1800
10    $1250
11    $1450
12    $1049
13    $1575
14    $1395
15    $2000
16    $1150
17    $1050
18    $1895
19    $1695
Name: price, dtype: object

In [6]:
data

                location           phone  price    size
0   (Downtown Nashville)  (844) 538-9754  $1399   1 Bed
1   (Historic Edgefield)  (844) 793-7781  $2000  2 Beds
2   (Cumberland Gardens)  (844) 887-7125   $850  2 Beds
3             (East End)  (877) 432-6013  $1500  2 Beds
4        (West End Park)  (844) 711-6208  $1195   1 Bed
5          (Green Hills)  (888) 923-3149  $1100   1 Bed
6    (Glencliff Estates)  (888) 630-1984  $1650  3 Beds
7                   None  (844) 509-3762  $2395  4 Beds
8      (Talbot's Corner)  (844) 320-2437  $1645  3 Beds
9                   None  (844) 783-5359  $1800  3 Beds
10              (Radnor)  (844) 610-7947  $1250  3 Beds
11          (River Glen)  (844) 865-5196  $1450  3 Beds
12                  None  (844) 783-5368  $1049  2 Beds
13                  None  (855) 233-2803  $1575  3 Beds
14   (Bellshire Terrace)  (844) 865-5197  $1395  3 Beds
15    (Whispering Hills)  (844) 585-1387  $2000  3 Beds
16            (McMurray)  (844) 792-5991  $1150  2 Beds
17                  None  (844) 322-8969  $1050  2 Beds
18                  None  (855) 233-2803  $1895  3 Beds
19                  None  (855) 233-2803  $1695  3 Beds

In [7]:
data.['size']

SyntaxError: invalid syntax (<ipython-input-7-737ff4a51017>, line 1)

In [8]:
data.'size'

SyntaxError: invalid syntax (<ipython-input-8-d19798df8860>, line 1)

In [9]:
data.('size')

SyntaxError: invalid syntax (<ipython-input-9-a3d4f3920a7e>, line 1)

In [10]:
data.(size)

SyntaxError: invalid syntax (<ipython-input-10-e602253c8593>, line 1)

In [11]:
data.size

80

In [12]:
data.'size'

SyntaxError: invalid syntax (<ipython-input-12-d19798df8860>, line 1)

In [13]:
data.Size

AttributeError: 'DataFrame' object has no attribute 'Size'

In [14]:
data.isnull()

   location  phone  price   size
0     False  False  False  False
1     False  False  False  False
2     False  False  False  False
3     False  False  False  False
4     False  False  False  False
5     False  False  False  False
6     False  False  False  False
7      True  False  False  False
8     False  False  False  False
9      True  False  False  False
10    False  False  False  False
11    False  False  False  False
12     True  False  False  False
13     True  False  False  False
14    False  False  False  False
15    False  False  False  False
16    False  False  False  False
17     True  False  False  False
18     True  False  False  False
19     True  False  False  False

In [15]:
data.size

80

In [16]:
data['size']

0      1 Bed
1     2 Beds
2     2 Beds
3     2 Beds
4      1 Bed
5      1 Bed
6     3 Beds
7     4 Beds
8     3 Beds
9     3 Beds
10    3 Beds
11    3 Beds
12    2 Beds
13    3 Beds
14    3 Beds
15    3 Beds
16    2 Beds
17    2 Beds
18    3 Beds
19    3 Beds
Name: size, dtype: object

In [17]:
df.sort_value(col)

NameError: name 'df' is not defined

In [18]:
data.sourt_value(col)

AttributeError: 'DataFrame' object has no attribute 'sourt_value'

In [19]:
data.sort_value(col)

AttributeError: 'DataFrame' object has no attribute 'sort_value'

In [20]:
data.sort

<bound method DataFrame.sort of                 location           phone  price    size
0   (Downtown Nashville)  (844) 538-9754  $1399   1 Bed
1   (Historic Edgefield)  (844) 793-7781  $2000  2 Beds
2   (Cumberland Gardens)  (844) 887-7125   $850  2 Beds
3             (East End)  (877) 432-6013  $1500  2 Beds
4        (West End Park)  (844) 711-6208  $1195   1 Bed
5          (Green Hills)  (888) 923-3149  $1100   1 Bed
6    (Glencliff Estates)  (888) 630-1984  $1650  3 Beds
7                   None  (844) 509-3762  $2395  4 Beds
8      (Talbot's Corner)  (844) 320-2437  $1645  3 Beds
9                   None  (844) 783-5359  $1800  3 Beds
10              (Radnor)  (844) 610-7947  $1250  3 Beds
11          (River Glen)  (844) 865-5196  $1450  3 Beds
12                  None  (844) 783-5368  $1049  2 Beds
13                  None  (855) 233-2803  $1575  3 Beds
14   (Bellshire Terrace)  (844) 865-5197  $1395  3 Beds
15    (Whispering Hills)  (844) 585-1387  $2000  3 Beds
16            (McMurray)  (844) 792-5991  $1150  2 Beds
17                  None  (844) 322-8969  $1050  2 Beds
18                  None  (855) 233-2803  $1895  3 Beds
19                  None  (855) 233-2803  $1695  3 Beds>

In [21]:
data.max_temp.plot()

AttributeError: 'DataFrame' object has no attribute 'max_temp'

In [22]:
data.pirce.plot()

AttributeError: 'DataFrame' object has no attribute 'pirce'

In [23]:
data.price

0     $1399
1     $2000
2      $850
3     $1500
4     $1195
5     $1100
6     $1650
7     $2395
8     $1645
9     $1800
10    $1250
11    $1450
12    $1049
13    $1575
14    $1395
15    $2000
16    $1150
17    $1050
18    $1895
19    $1695
Name: price, dtype: object

In [24]:
data.sort_values(price)

NameError: name 'price' is not defined

In [25]:
data.sort.price

AttributeError: 'function' object has no attribute 'price'

In [26]:
data.count(price)

NameError: name 'price' is not defined

In [27]:
data.count

<bound method DataFrame.count of                 location           phone  price    size
0   (Downtown Nashville)  (844) 538-9754  $1399   1 Bed
1   (Historic Edgefield)  (844) 793-7781  $2000  2 Beds
2   (Cumberland Gardens)  (844) 887-7125   $850  2 Beds
3             (East End)  (877) 432-6013  $1500  2 Beds
4        (West End Park)  (844) 711-6208  $1195   1 Bed
5          (Green Hills)  (888) 923-3149  $1100   1 Bed
6    (Glencliff Estates)  (888) 630-1984  $1650  3 Beds
7                   None  (844) 509-3762  $2395  4 Beds
8      (Talbot's Corner)  (844) 320-2437  $1645  3 Beds
9                   None  (844) 783-5359  $1800  3 Beds
10              (Radnor)  (844) 610-7947  $1250  3 Beds
11          (River Glen)  (844) 865-5196  $1450  3 Beds
12                  None  (844) 783-5368  $1049  2 Beds
13                  None  (855) 233-2803  $1575  3 Beds
14   (Bellshire Terrace)  (844) 865-5197  $1395  3 Beds
15    (Whispering Hills)  (844) 585-1387  $2000  3 Beds
16            (McMurray)  (844) 792-5991  $1150  2 Beds
17                  None  (844) 322-8969  $1050  2 Beds
18                  None  (855) 233-2803  $1895  3 Beds
19                  None  (855) 233-2803  $1695  3 Beds>

In [28]:
data.count.price

AttributeError: 'function' object has no attribute 'price'

In [29]:
price.count()

NameError: name 'price' is not defined

In [30]:
data.sort_values('price')

                location           phone  price    size
12                  None  (844) 783-5368  $1049  2 Beds
17                  None  (844) 322-8969  $1050  2 Beds
5          (Green Hills)  (888) 923-3149  $1100   1 Bed
16            (McMurray)  (844) 792-5991  $1150  2 Beds
4        (West End Park)  (844) 711-6208  $1195   1 Bed
10              (Radnor)  (844) 610-7947  $1250  3 Beds
14   (Bellshire Terrace)  (844) 865-5197  $1395  3 Beds
0   (Downtown Nashville)  (844) 538-9754  $1399   1 Bed
11          (River Glen)  (844) 865-5196  $1450  3 Beds
3             (East End)  (877) 432-6013  $1500  2 Beds
13                  None  (855) 233-2803  $1575  3 Beds
8      (Talbot's Corner)  (844) 320-2437  $1645  3 Beds
6    (Glencliff Estates)  (888) 630-1984  $1650  3 Beds
19                  None  (855) 233-2803  $1695  3 Beds
9                   None  (844) 783-5359  $1800  3 Beds
18                  None  (855) 233-2803  $1895  3 Beds
15    (Whispering Hills)  (844) 585-1387  $2000  3 Beds
1   (Historic Edgefield)  (844) 793-7781  $2000  2 Beds
7                   None  (844) 509-3762  $2395  4 Beds
2   (Cumberland Gardens)  (844) 887-7125   $850  2 Beds

In [31]:
data.count('size')

ValueError: No axis named size for object type <class 'pandas.core.frame.DataFrame'>

In [32]:
data.count('price')

ValueError: No axis named price for object type <class 'pandas.core.frame.DataFrame'>

In [33]:
data.sort_values('size')

                location           phone  price    size
0   (Downtown Nashville)  (844) 538-9754  $1399   1 Bed
4        (West End Park)  (844) 711-6208  $1195   1 Bed
5          (Green Hills)  (888) 923-3149  $1100   1 Bed
1   (Historic Edgefield)  (844) 793-7781  $2000  2 Beds
2   (Cumberland Gardens)  (844) 887-7125   $850  2 Beds
3             (East End)  (877) 432-6013  $1500  2 Beds
17                  None  (844) 322-8969  $1050  2 Beds
16            (McMurray)  (844) 792-5991  $1150  2 Beds
12                  None  (844) 783-5368  $1049  2 Beds
15    (Whispering Hills)  (844) 585-1387  $2000  3 Beds
14   (Bellshire Terrace)  (844) 865-5197  $1395  3 Beds
13                  None  (855) 233-2803  $1575  3 Beds
9                   None  (844) 783-5359  $1800  3 Beds
10              (Radnor)  (844) 610-7947  $1250  3 Beds
18                  None  (855) 233-2803  $1895  3 Beds
8      (Talbot's Corner)  (844) 320-2437  $1645  3 Beds
6    (Glencliff Estates)  (888) 630-1984  $1650  3 Beds
11          (River Glen)  (844) 865-5196  $1450  3 Beds
19                  None  (855) 233-2803  $1695  3 Beds
7                   None  (844) 509-3762  $2395  4 Beds

In [34]:
data.count(price)

NameError: name 'price' is not defined

In [35]:
data.price.mean

<bound method Series.mean of 0     $1399
1     $2000
2      $850
3     $1500
4     $1195
5     $1100
6     $1650
7     $2395
8     $1645
9     $1800
10    $1250
11    $1450
12    $1049
13    $1575
14    $1395
15    $2000
16    $1150
17    $1050
18    $1895
19    $1695
Name: price, dtype: object>

In [36]:
data.['size'].mean

SyntaxError: invalid syntax (<ipython-input-36-1beb75e43c67>, line 1)

In [37]:
data['size'].mean

<bound method Series.mean of 0      1 Bed
1     2 Beds
2     2 Beds
3     2 Beds
4      1 Bed
5      1 Bed
6     3 Beds
7     4 Beds
8     3 Beds
9     3 Beds
10    3 Beds
11    3 Beds
12    2 Beds
13    3 Beds
14    3 Beds
15    3 Beds
16    2 Beds
17    2 Beds
18    3 Beds
19    3 Beds
Name: size, dtype: object>